<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout">
        <environmentVariables />
      </aspNetCore>
      <httpProtocol>
        <customHeaders>
          <clear />
          <remove name="X-Powered-By" />
          <!--
          <add name="Access-Control-Allow-Origin" value="https://localhost:4200" />
          -->
          <add name="X-Frame-Options" value="DENY" />
          <add name="X-Content-Type-Options" value="nosniff" />
          <add name="X-XSS-Protection" value="1; mode=block" />
          <add name="Cache-Control" value="no-cache, must-revalidate" />
          <add name="Strict-Transport-Security" value="max-age=31536000" />
        </customHeaders>
      </httpProtocol>
      <rewrite>
        <outboundRules rewriteBeforeCache="true">
          <rule name="Remove Server header">
            <match serverVariable="RESPONSE_Server" pattern=".+" />
            <action type="Rewrite" value="" />
          </rule>
        </outboundRules>
      </rewrite>
      <!--
    <security>
      <requestFiltering>
        <verbs allowUnlisted="true">
          <add verb="OPTIONS" allowed="false" />
        </verbs>
      </requestFiltering>
    </security>
    -->
    </system.webServer>
  </location>
</configuration>